# OS/editor
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/

# Logs
*.log

# Build/cache artifacts
pkg/
docs/
dist/
build/
coverage/
node_modules/

# test fixtures
/SRC/tests/testfixtures/